
// Colors
$primary-color: #1d2127;
$secondary-color: #282c34;
$ligth_grey: #464b55;
$dark_grey: #282c34;
$white: #fff;
$pastel_green: #98c379;
$pastel_yellow: #ffd700;
$pastel_blue: #61afef;
$red_color: #c63637;
$github-orange: #FF8000;
$linkedin-blue: #0e76a8;
$twitter-blue: #00acee;
$react-color: #61DBFB;
$sass-color: #CD6799;
$nodeJs-color: #68A063;
$html-color: #F06529;
$css-color: #0F5298;
$js-color: #F0DB4F;
$gradiant-bkcolor: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
$gradiant: linear-gradient(90.21deg, rgba(170, 54, 124, 1) -5.91%, rgba(74, 47, 189, 1) 111.58%);

  
input,
textarea {
    font-family: 'Helvetica Neue' ;
}